
<nav   class="fs-5 navbar rounded-3 p-3   navbar-light  navbar-expand-lg   " [ngClass]="{'navbar-dark': router.url=='/' && !IsBg,'bg-light': IsBg} ">
  <div class="container-fluid flex-lg-nowrap jus flex-wrap text-white">

    <a class="navbar-brand fs-2 text-primary fst-italic" href="/">Psychologist</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" (click)="toggleBg()"></span>
    </button>
    <div class="collapse  navbar-collapse rounded-3  justify-content-between"  id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Главная <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forpsychologist">Психологу</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forclient">Клиенту</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/psychologist">Наши психологи</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/about">О нас</a>
        </li>

      </ul>
      <ul class="navbar-nav">

        <ng-container *ngIf="this.authService.isLoginIn$  | async; else elseBlock">
          <li class="nav-item dropdown">
            <a class="nav-link bg-primary p-2 text-white rounded-2 dropdown-toggle fs-6" href="#" role="button"
               style="max-width: 10em" data-bs-toggle="dropdown" aria-expanded="false">
              Личный кабинет
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/me">Мой профиль</a></li>
              <li><a class="dropdown-item" (click)="this.authService.logout()" href="">Выйти</a></li>
            </ul>
          </li>
        </ng-container>
        <ng-template #elseBlock>

          <button style="min-width: fit-content; width: 9em"
                  class="btn btn-primary" onclick="location.href='/login'">Войти
          </button>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>

