//.navbar-center {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 100%;
//}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
.navbar-brand{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
