<div class="d-flex flex-column flex-grow-1">
  <div class="d-flex flex-column container-xl  px-4 py-3 px-lg-5 rounded-4  ">
    <h2 class="text-center  text-black">Мы предлагаем</h2>

    <div class="  mt-3 gap-4  container d-flex flex-column   ">

      <div class="bg-primary  rounded-4 p-4">
        <h4>Запись на сеанс онлайн:</h4>
        <p>У вас есть возможность записаться на консультацию в любое время и из любого места, что делает процесс общения
          с психологом более доступным и комфортным.</p>
      </div>

      <div class="bg-primary rounded-4 p-4">
        <h4>Выбор удобного времени:</h4>
        <p>Просматривайте доступные даты и время для консультаций, выбирайте оптимальный вариант под ваш график, чтобы
          каждая встреча была максимально удобной для вас.</p>
      </div>

      <div class="bg-primary rounded-4 p-4">
        <h4>Личный график визитов:</h4>
        <p>Всегда помните о своих сеансах,легко переносите или отменяйте их по мере необходимости, чтобы сохранить
          контроль над временем и процессом консультаций.</p>
      </div>

      <div class="bg-primary rounded-4 p-4">
        <h4>Контроль за прогрессом: </h4>
        <p>Сохраним всю историю консультаций и их итогов, что позволит Вам следить за своим прогрессом в работе над
          собой.</p>
      </div>
    </div>


  </div>

  <div class=" my-3 d-flex justify-content-center ">
    <button
      (click)="location.href='/register'"
      class="btn btn-primary ">Зарегистрироваться
    </button>
  </div>

</div>
