<div class="d-flex flex-column flex-grow-1">


  <div class="d-flex flex-column container-xl bg-primary px-4 py-3 px-lg-5 rounded-4 ">
    <h2 class="text-center">О нас</h2>

    <div class="  mt-3 gap-4  container d-flex flex-column   rounded-4  ">

      <div class=" ">
        <h5>Здравствуйте! Мы - команда студентов, разработавшая уникальную систему управления коммуникацией между
          психологом и клиентом. Наш продукт предлагает широкий спектр возможностей, которые облегчат вашу работу и
          повысят эффективность взаимодействия с клиентами.</h5>

      </div>

      <div class=" ">
        <h5>Наша система обеспечит удобство сбора данных о всех ваших клиентах, чтобы вы могли грамотно подготовиться к
          каждому приему и оперативно связаться с ними при необходимости. Вы сможете легко составлять индивидуальное
          расписание и быстро вносить в него изменения.
        </h5>

      </div>


      <div class="">
        <h5>Выбирая нашу систему управления коммуникацией, вы получаете помощника в организации вашей работы, что
          позволит вам сосредоточиться на самом важном - помощи своим клиентам и развитии собственной практики.</h5>

      </div>
      <div class="">
        <h5>Так же мы планируем развивать и улучшать наш проект,исправляя недочеты и добавляя новые возможности для вашего
          удобства.Мы будем рады  если  вы выберете нас.
        </h5>
      </div>
    </div>

    <div class=" my-4 ">
      <img class="img-fluid rounded-4" src="assets/image_about.jpeg">

    </div>
  </div>
  </div>















