<!--<div class="modal-header">-->


    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center">Запись к <strong>{{this.psychologist?.lastName}} {{this.psychologist?.name?.slice(0,1)+ "."}} {{this.psychologist?.middlename ? " "+  this.psychologist?.middlename?.slice(0,1)+"." : ""}}</strong> </h6>
        <button type="button" class="btn-close" (click)="activeModal.close()" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3">
          <div class="d-flex flex-column ">
            <div class="d-flex align-items-center justify-content-around">
              <div class="d-flex flex-column justify-content-center align-items-center">

                <i class="bi bi-clock" style="font-size: 1.4em"></i>
                <h6>{{slot?.workDay | date: "d MMM":"ru":"ru"}}</h6>
              </div>
              <div>
                <p class="text-muted text-center">Стоимость</p>
                <h4 class="text-center">{{this.selectedService?.servicePrice}} р.</h4>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-calendar-check" style="font-size: 1.4em"></i>
                <h6>{{slot?.startTime?.toString()?.slice(0,5)}}</h6>
              </div>
            </div>
            <hr>
            <form [formGroup]="visitCreationForm"  class="p-4">
              <div class="mb-3">
                <label for="serviceType" class="form-label">Тип услуги</label>
                <select  (change)="onServiceSelectChange($event)" id="serviceType" class="form-select">
                  <option *ngFor="let service of Object.values(services)" [selected]="service.serviceId == selectedService?.serviceId " [value]="service.serviceId"  >{{service.serviceName}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="floatingTextarea">Оставить комментарий для психолога</label>
                <textarea formControlName="clientDescription" style="resize: none" rows="3" class="form-control mt-2" placeholder="Оставьте ваш комментарий здесь" id="floatingTextarea"></textarea>

              </div>
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Закрыть</button>
        <button type="button" (click)="createVisit()" class="btn btn-primary">Подтвердить запись</button>
      </div>
    </div>

