$secondary: #70a892;
$primary: #9AAAFF;


* {
  font-size: 1em;
}

.bg-primary {
  color: white !important;
}

.btn-primary, .btn-secondary {
  color: white !important;
}


@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons';


.active-link {
  background-color: $primary;
  color: $white;


}

a.nav-link:hover {
  background-color: #e4e4e4;
}

.active-link:hover {
  background-color: $primary !important;
  color: $white;

}

.active-link:hover {
  color: $white;
}
