/* You can add global styles to this file, and also import other style files */

$primary: #9AAAFF;
//$danger: #f1db50;

*{
  font-size: 1.02em;
}

.bg-primary{
  color: white !important;
}
.btn-primary{
  color : white !important;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons';


//@import "/styles/_variables";

.active-link {
  background-color: $primary;
  color: $white;


}

a.nav-link:hover {
  background-color: #e4e4e4;
}

.active-link:hover {
  background-color: $primary !important;
  color: $white;

}

.active-link:hover {
  color: $white;
}
