<div class="d-flex flex-column flex-grow-1 bg-primary">
  <div id="banner" style="flex-basis: 50em !important;"
       class="d-flex flex-fill text-center p-3 bg-image justify-content-center align-items-center flex-column bg-primary  w-100">
    <!--    <img class="img-fluid" style="width: 100%" src="assets/home_bg.png">-->
    <div class="col-sm-6 justify-content-center align-items-center text-center">
      <p class="fst-italic fw-semibold fs-1 text-primary">
        Psychology Connect
      </p>
      <p class="fs-4 text-white"> Погрузитесь в мир психологии с легкостью и удобством онлайн записи.
        Никогда не забудьте о своих приемах и подготовьтесь к ним заранее!
      </p>
      <button style="max-width: fit-content" class="btn mt-3 fs-4 btn-primary rounded-3"
              (click)="location.href='forclient'">Записаться сейчас
      </button>

    </div>
  </div>

  <!--</div>-->
  <div class="d-flex mt-4 container-xxl flex-column  mb-4 ">

    <h3 class="text-center fw-bolder ">Ответы на вопросы</h3>


    <div style="color: black !important;" class="  mt-4  gap-4 container d-flex flex-column ">

      <div class="bg-light rounded-4 p-4">
        <h5 class="fw-bolder">Как записаться на прием?</h5>
        <p class=""> Для записи на прием просто нажмите кнопку 'Записаться сейчас', выберите удобное для вас время и заполните необходимую информацию о себе.</p>
      </div>


      <div class="bg-light rounded-4 p-4">
        <h5 class="fw-bolder">Какие услуги  предоставляем ?</h5>
        <p class="">Мы предлагаем возможность выбора психолога,просмотр его расписания и мгновенную запись,а так же
          поиск профиля вашего психолога.</p>
      </div>
      <div class="bg-light rounded-4 p-4">
        <h5 class="fw-bolder">Как выбрать подходящего психолога для моих потребностей?</h5>
        <p class="">Вы можете ознакомиться с профилями психологов на нашем сайте, прочитать об их специализации, опыте и методах работы.</p>
      </div>


      <div class="bg-light rounded-4 p-4">
        <h5 class="fw-bolder">Что делать если у меня нет аккаунта ? </h5>
        <p class=""> Если у вас нет аккаунта, вы можете быстро зарегистрироваться, заполнив необходимую информацию о себе и создав учетную запись.</p>
      </div>


      <div class="bg-light rounded-4 p-4">
        <h5 class="fw-bolder">Как связаться с психологом ?</h5>
        <p class="">После записи  психолог увидит ваше сообщение о визите и ответит вам. Вы можете посмотреть ответ в
          личном кабинете.</p>
      </div>

    </div>
  </div>

</div>

