<!--<div class="container container-xxl flex col" >-->
<!--  <div id="carouselExample" class="carousel slide">-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--        <img ngSrc="assets/1.png" class="d-block w-100" alt="..." height="532" width="782">-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img ngSrc="assets/1.png" class="d-block w-100" alt="..." height="532" width="782">-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img ngSrc="assets/1.png" class="d-block w-100" alt="..." height="532" width="782">-->
<!--      </div>-->
<!--    </div>-->
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Next</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <button class="btn btn-primary">Кнопка</button>-->
<!--  <i class="bi-alarm" style="font-size: 2rem"></i>-->
<div class="d-flex flex-column flex-grow-1">
  <div id="banner" style="flex-basis: 50em !important;"   class="d-flex flex-fill text-center p-3 bg-image justify-content-center align-items-center flex-column bg-primary  w-100">
<!--    <img class="img-fluid" style="width: 100%" src="assets/home_bg.png">-->
    <div class="col-sm-6 justify-content-center align-items-center text-center">
      <p class="fst-italic fw-semibold fs-1 text-primary">
        Psychology Connect
      </p>
      <p class="fs-4 text-white"> Погрузитесь в мир психологии с легкостью и удобством онлайн записи.
        Никогда не забудьте о своих приемах и подготовьтесь к ним заранее!
      </p>
      <button style="max-width: fit-content" class="btn mt-3 fs-4 btn-primary rounded-3" (click)="location.href='forclient'">Записаться сейчас</button>

    </div>
      </div>

  <!--</div>-->
  <div class="d-flex mt-3  container-xxl flex-column">

    <section data-bs-version="5.1" class="list05 cid-uc0OshTRUp" id="faq-3-uc0OshTRUp">

      <div class="container">
        <div class="col-12 mb-5 content-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">
            <strong>Ответы на вопросы</strong>
          </h4>

        </div>
        <div class="row justify-content-center ">
          <div class="col-12 col-lg-8">
            <div class="item features-without-image col-12 active">
              <div class="item-wrapper">
                <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-7">
                  <strong>Как записаться на прием?</strong></h5>
                <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-9">Для записи на прием просто нажмите кнопку 'Записаться' и выберите удобное для вас время.</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-7">
                  <strong>Какие услуги предоставляем ?</strong></h5>
                <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-9">Мы предлагаем возможность выбора психолога,просмотр его расписания и мгновенную запись,а так же поиск профиля вашего психолога </p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-7">
                  <strong>Что делать если у меня нет аккаунта ? </strong></h5>
                <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-9">Ничего страшного,регистрация не займет много времени.</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-7">
                  <strong>Как связаться с психологом ?</strong></h5>
                <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-9">После записи ваш психолог увидит ваше сообщение о визите и ответит вам.Вы можете посмотреть ответ в личном кабинете.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </div>


</div>
