<div class="container container-xxl flex col" >
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img ngSrc="assets/1.png" class="d-block w-100" alt="..." height="532" width="782">
      </div>
      <div class="carousel-item">
        <img ngSrc="assets/1.png" class="d-block w-100" alt="..." height="532" width="782">
      </div>
      <div class="carousel-item">
        <img ngSrc="assets/1.png" class="d-block w-100" alt="..." height="532" width="782">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <button class="btn btn-primary">Кнопка</button>
  <i class="bi-alarm" style="font-size: 2rem"></i>
</div>



